{% extends "task/base.html" %}

{% block PageHeading %}tasks{% endblock %}

{% block Content %}

<hr size="1" />

<div class="float-left">
  <ul id="status-list" class="inline">
    {% for status in statuses %}
      <li class="inline {% if status.selected %}selected{% endif %}">
        <a href="{{ status.url }}">{{ status.label }}</a></li>
      </li>
    {% endfor %}
  </ul>
</div>


<ul id="task-list" class="no-style">
  {% for task in tasks %}
  <li>
    <span class="task-title"><a href="{% url task:view task.id %}">{{ task.title }}</a></span>
    <div class="task-meta">
      {{ task.id }} //
      <ul class="no-style inline flat task-tags">
        {% for tag in task.tags %}
        <li class="{% if tag.selected %}selected{% endif %}"><a href="{{ tag.url }}">{{ tag.label }}</a></span>
        {% endfor %}
      </ul>
    </div> <!-- /task-meta -->
  </li>
  {% endfor %}
</ul>

{% endblock %}
