{% extends "task/base.html" %}

{% block PageHeading %}
  {% if task %}edit task {{ task.id }}{% else %}add task{% endif %}
{% endblock %}

{% block Content %}
    
    <hr size="1" />

    {% if task %}
    <form method="post" action="{% url task:edit taskid=task.id %}">
    {% else %}
    <form method="post" action="{% url task:add %}">
    {% endif %}
        {% csrf_token %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        {{ form.as_p }}
        <input id="submit" type="submit" value="Save"/>
        {% if task %}
        <a href="{% url task:remove task.id %}">Delete</a>
        {% endif %}
    </form>

{% endblock %}
