{% extends "task/base.html" %}

{% block SiteStyle %}
  {{ block.super }}
  <style type="text/css">
    div.task-view .title {
      font-size: 15px; font-weight: bold;
    }
    div.task-view .meta {
      font-size: 11px; color: #444;
      margin-bottom: 5px;
    }
    div.task-view .text {
      font-family: Verdana;
      margin: 0px 0 10px 0;
      font-size: 11px;
    }
    div.task-view hr {
      height: 1px;
    }

    div.update {
      font-family: Verdana;
      background-color: #eee;
      border: 1px solid #ccc;
      padding: 10px;
      margin: 15px 0 0 0;
      font-size: 11px;
    }

    div.task-view #id_text {
      width: 100%;
      height: 150px
      font-size: 13px; 
      font-family: monospace;
    }
  </style>
{% endblock %}

{% block PageHeading %}task {{ task.id }}{% endblock %}

{% block Content %}

  <div class="task-view">
      <div class="title">{{ task.title }}</div>
      {% if task.text %}
          <div class="text">
              {% autoescape off %}{{ task.render_md }}{% endautoescape %}
          </div>
      {% endif %}
      <div class="task-meta">
          {{ task.status }} &middot; viewed: {{ task.views }} &middot; <a href="{% url task:edit task.id %}">edit</a>
      </div>

      {% if updates %}
        {% for update in updates %}
        <div class="update">
            <div class="meta">On {{ update.createdon }}, </div>
            {% autoescape off %}
            <p class="text">{{ update.render_md }}</p>
            {% endautoescape %}
        </div>
        {% endfor %}
      {% endif %}

      <form action="{% url task:view task.id %}" method="post">
          <h3>Update</h3>
          {% csrf_token %}
          {% if update_form.errors %}
              {{ update_form.errors }}
          {% endif %}
          {{ update_form.as_p }}
          <input type="submit" value="Post"/>
      </form>

      
  </div>

{% endblock %}
