<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 

<html lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>disarray // {% block PageTitle %}{% endblock %}</title> 
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/disarray.css" />
    {% block SiteStyle %} 
    <style type="text/css">
      body {
        font-family: "Helvetica", "Lucida Grande", verdana;
        font-size: 12px;
      }
    </style>
    {% endblock %}

    <script>
      {% block SiteScript %}{% endblock %}
    </script>
  </head>
  <body>
    <h1 id="site-heading">Disarray</h1>
    {% block SiteBody %}
      <div id="site-header">
          <h1 id="site-heading">L3 // {% block AppName %}{% endblock %}</h1>
          <div id="site-nav">
          </div>
      </div>
    {% endblock %}
  </body>
</html>
           

